.section-title {
  padding-top: 64px;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.section-description {
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.summary {
  p {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  }
}

.summary-bottom {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  p {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
  }
}

.checkout-summary-left {
  padding-top: 112px;
  background-color: #F9F8F6;
  height: 690px;
  display: flex;
  justify-content: center;
}

.co-container {
  width: 70%;
}

.order-ingredient {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  padding-top: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.order-ingredient img {
  margin-right: 12px;
  object-fit: cover;
}

.checkout-summary-left h2 {
  font-family: $body-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 16px;
}

.ingredient-quantity-and-name {
  font-family: $body-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 16px;
}

.order-ingredient-description {
  width: 60%;
}

.resto-name-grey {
  font-family: $body-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0,0,0,0.3);
}

.checkout-summary {
  padding: 112px 48px;

  h1 {
    font-family: $body-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.checkout-left-pane {
  width: 50%;
  background-color: #F9F8F6;
  height: 100vh;
  padding: 96px 0;
  display: flex;
  justify-content: center;
}

.checkout-right-pane {
  width: 50%;
  background-color: white;
  height: 100vh;
  padding: 96px 0;
  display: flex;
  justify-content: center;
}

.checkout-container {
  width: 60%;
}

.checkout-button {
  height: 48px;
  width: 100%;
  background-color: $nm-l-brown;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:8px;
  font-weight: bold;
  font-size: 16px;
  &:hover {
    background-color: #F1EAE5;
  }
}

.bg-pink {
  background-color: $nm-pink;
  &:hover {
    background-color: #FDCCD6;
  }
}

.bg-black {
  background-color: $nm-black;
  color: white;
  &:hover {
    background-color: black;
    color: white;
  }
}
