@import "success";
@import "edit";

.order-container {
  width: 60%;
}
.all-orders h1 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: $body-font;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
}

.no-orders {
  margin-top: 32px;
  font-size: 24px;

}

.order-btns {
  padding-bottom: 8px;
}

.user-status {
  padding-top: 64px;

  h1 {
    font-family: $body-font;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 16px;
  }
}

.promo-cards {
  padding-bottom: 24px;
}

.order-section {
  display: flex;
  justify-content: space-between;
  align-items : center;
  vertical-align: middle;
  padding: 8px 0;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

.order-details {
  align-items: center;
  display: flex;
  h4 {
  font-family: $body-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  }
}



.order-price {
  font-family: $body-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.order-date {
  font-family: $body-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0,0,0,0.3);
}

// .order-modal {
//   vertical-align: middle;
// }


