.order-success {
  background-color: $nm-pink;
  height: 100vh;
  text-align: center;
}

.success-section {
  vertical-align: middle;
}

.success-msg h1 {
  font-family: Suez One;
  font-size: 32px;

}

.success-msg p {

}

.carbon-footprint {
  border-radius: 16px;
  width: 500px;
  height: 160px;
  text-align: center;
  background-color: white;
  margin: 24px auto;
}


