// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// NoMo Colors
$nm-pink: #FFDEE5;
$nm-l-orange: #FEE8D9;
$nm-black: #172327;
$nm-purple: #D3D6ED;
$nm-yellow: #F6C042;
$nm-green: #57BD6F;
$nm-d-green: #095941;
$nm-blue: #7EBFDB;
$nm-orange: #EE7246;
$nm-l-green: #A3D0BF;
$nm-grey: #828282;
$nm-dashboard-purple: #CED3F9;
$nm-dashboard-bg: #F5F7FA;



