<% @recipe_hashes.each do |recipe_hash| %>
  <div class="card-column card-ingredient">
    <%= link_to recipe_hash[:link], action: 'go' do %>
    <%#= image_tag recipe_hash[:src], alt: "alttext" %>
    <%#= cl_image_tag recipe.photo.key, class: "image" %>
      <div class="card-ingredient-info">
        <div class="card-ingredient-text">
          <h2><%= recipe_hash[:name] %></h2>
          <p><%= recipe_hash[:summary] %></p>
          <p>By <strong><%= recipe_hash[:author] %></strong></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
