<div class="card-frame1" style="background-image: url(<%= asset_path('Frame1.png') %>);">
  <p class="head">20% off for all</p>
  <p>Use code NOMOFIRSTTIME to get your first order on demand</p>
</div>
