<div class="card-ingredient">
  <%= image_tag 'https://source.unsplash.com/1600x900/?pumpkin', class: "image"%>
  <div class="card-ingredient-info">
    <i class="far fa-heart position-icon"></i>
    <div class="card-ingredient-text">
      <p>Restaurant name</p>
      <h2>Small Little Pumpkin</h2>
      <h3>$18</h3>
    </div>
  </div>
</div>