<% @recipes_hash.each do |recipe_hash| %>
  <div class="card-column card-ingredient">
    <%= link_to recipe_hash[:link], action: 'go' do %>
    <%#= cl_image_tag recipe.photo.key, class: "image" %>
      <div class="card-ingredient-info">
        <div class="card-ingredient-text">
          <h2><%= recipe_hash[:name] %></h2>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
