<div class="card-frame2" style="background-image: url(<%= asset_path('Frame2.png') %>);">
  <h2>Donate to food bank</h2>
  <p>Get 5% discount by sharing your order to local food bank.</p>
  <%= link_to "Learn more", class:"btn btn-primary" %>
</div>
