<div class="card-frame2" style="background-image: url(<%= asset_path('Frame2.png') %>);">
  <p class="head">Donate to a food bank!</p>
  <p>Get 5% off by sharing your order with a local food bank.</p>
  <%= link_to "Learn more", root_path, class:"btn-learn-more" %>
</div>

<!-- comment -->


