<%# <div class="card-frame1" style="background-image: url(<%= asset_path('deal-01.png') %>
<%# <p class="head">20% off for all</p>
  <p>Use code NOMOFIRSTTIME to get your <br>
     first
    order on demand</p> %>
<%# </div> %>
<%= image_tag "deal-03.svg" %>
