<div class="footer">
  <div class="footer-sitemap">
    <div class="row mr-3">
      <ul>
        <li><%= image_tag "Nomo_logo2.png", alt: "Nomo_logo2", width:"180px" %></li>
      </ul>
    </div>
    <div class="footer-column col-2">
      <ul class="ml-3">
        <li style="font-size: 13px; color: $dark-grey;"><strong>ABOUT</strong></li>
        <li>How Nomo works</li>
        <li>About food waste</li>
        <li>Food banks</li>
        <li>Careers</li>
      </ul>
    </div>
    <div class="footer-column col-2">
      <ul>
        <li style="font-size: 13px; color: $dark-grey;"><strong>BUSINESS</strong></li>
        <li>Nomo for business</li>
        <li>business sign up</li>
      </ul>
    </div>
    <div class="footer-column col-2">
      <ul>
        <li style="font-size: 13px; color: $dark-grey;"><strong>FAQ</strong></li>
        <li>Support</li>
        <li>Contact us</li>
      </ul>
    </div>
    <div class="footer-column col-2">
      <ul>
        <li style="font-size: 13px; color: $dark-grey;"><strong>SAY HI</strong></li>
        <li>info@nomo.com</li>
        <li>Tokyo, Japan</li>
      </ul>
    </div>
  </div>
  <div class="footer-credit">
    <p class="mr-3">© 2021 Nomo</p>
    <p class="mr-3">Privacy</p>
    <p clasd="mr-3">Terms</p>
    <!-- <p style="position:absolute; right: 0;">Made with <i class="fas fa-heart"></i> by Nomo</p> -->
  </div>
</div>
