<%# Section header %>
<div class="dashboard-page-header d-flex justify-content-between mt-5">
  <h1>Analytic</h1>
</div>
<%# Content %>
<%# Rank banner %>
<div class="carbon-sum justify-content-between" style="height: 96px;">
  <div class="left-panel d-flex">
    <div class="rank-large">
      <h4>56</h4>
    </div>
    <div class="label">
      <p class="mb-0">Overall green score</p>
      <h4>Rank <span class="text-highlight">#126</span> from <span class="text-highlight">344</span> local shops</h4>
    </div>
  </div>
  <div class="label">
    What is green score?
  </div>
</div>
<%# Suggest action + Nearby score %>
<div class="panel-container d-flex">
  <%# Suggest action %>
  <div class="suggest-action-container">
    hi
  </div>
  <%# Nearby score %>
  <div class="nearby-score-container">
    hi
  </div>
</div>
