<%# Section header %>
<div class="dashboard-page-header d-flex justify-content-between mt-5">
  <h1>Don't forget to complete the setup</h1>
</div>
<%# Content %>
<div class="setup d-flex justify-content-between mt-3">
  <%# Left %>
  <div class="setup-container mr-4">
    <div class="setup-list d-flex">
      <div class="label align-top mr-2">
        <%= image_tag 'checked.svg' %>
      </div>
      <div class="label">
        Complete updating restaurant info
        <p style="font-size: 12px;">Add email and shop contact that’ll be sent to your customer</p>
      </div>
    </div>
    <hr style="margin: 0 24px;">
    <div class="setup-list d-flex">
      <div class="label align-top mr-2">
        <%= image_tag 'checked.svg' %>
      </div>
      <div class="label">
        Setup payment
        <p style="font-size: 12px;">Enable and manage your store’s payment providers</p>
      </div>
    </div>
  </div>
  <%# Right %>
  <div class="setup-container">
    <div class="setup-list d-flex">
      <div class="label align-top mr-2">
        <%= image_tag 'checked.svg' %>
      </div>
      <div class="label">
        Setup opening hours
        <p style="font-size: 12px;">Inform your customers available time for collecting orders</p>
      </div>
    </div>
    <hr style="margin: 0 24px;">
    <div class="setup-list d-flex">
      <div class="label align-top mr-2">
        <%= image_tag 'checkbox.svg' %>
      </div>
      <div class="label">
        Choose shop category
        <p style="font-size: 12px;">Customer will easily find your shop with categories</p>
      </div>
    </div>
  </div>
</div>
