<%# Section header %>
<div class="dashboard-page-header d-flex justify-content-between mt-5">
  <h1>Analytic</h1>
</div>
<%# Content %>
<div class="carbon-sum justify-content-between" style="height: 96px;">
  <div class="left-panel d-flex">
    <div class="rank-large">
      <h4>56</h4>
    </div>
    <div class="label">
      <p class="mb-0">Overall green score</p>
      <h4>Rank <span>#126</span>from 344 local shops</h4>
    </div>
  </div>
  <div class="label">
    What is green score?
  </div>
</div>
