<div class="container mt-5">
    <div class="card-row d-flex flex-wrap">
      <%= render partial: 'shared/card-ingredient', locals: { ingredients: @all_ingredients } %>
    </div>
  <div id="section2">
    <h1>Popular near you</h1>
    <div class="card-row d-flex flex-wrap">
      <%= render partial: 'shared/card-ingredient', locals: { ingredients: @ingredients }%>
    </div>
  </div>
</div>
