<div class="order-success">
  <div class="success-section">
    <div class="success-msg">
      <h1>Thanks for rescue our food!</h1>
      <p>Pick up code has been sent to your phone number.</p>
    </div>
    <div class="carbon-footprint">

    </div>
    <%= link_to "View my orders", orders_path, class: "btn btn-primary" %>
  </div>
</div>
