<% content_for :navbar, 'home' %>
<div class="home-banner d-flex justify-content-center">
  <div class="animate-text">
    <%= image_tag 'say.svg' %>
    <h3><span> </span></h3>
    <h4>to food waste</h4>
  </div>
</div>
