.badge-round-yellow {
  border-radius: 24px;
  background-color: $nm-yellow;
  color: black;
  font-size: 12px;
  font-family: Manrope;
  padding: 4px 24px;
}

.badge-round-l-green {
  border-radius: 24px;
  background-color: $nm-l-green;
  color: black;
  font-size: 12px;
  font-family: Manrope;
  padding: 4px 24px;
}

.badge-round-orange {
  border-radius: 24px;
  background-color: $nm-orange;
  color: black;
  font-size: 12px;
  font-family: Manrope;
  padding: 4px 24px;
}

.badge-round-l-green {
  border-radius: 24px;
  background-color: $nm-bg-green;
  color: $nm-d-green;
  font-size: 12px;
  font-weight: 600;
  font-family: Manrope;
  padding: 4px 12px;
  text-align: center;
  word-wrap: normal;

}
