.btn-learn-more {
  background-color: $nm-black;
  padding: 6px 16px;
  color: white;
  margin-top: 8px;

  &:hover {
    background-color: white;
    color: $nm-black;
    text-decoration: none;
  }
}

.btn-show-more {
  background-color: white;
  padding: 6px 88px;
  color: $nm-black;
  margin-top: 8px;
  border: 1px solid $nm-black;
  font-size: 16px;
  font-family: $body-font;
  font-weight: bold;

  &:hover {
    background-color: $nm-black;
    color: white;
    text-decoration: none;
  }
}

.btn-tab {
  background-color: $nm-green;
  color: white;
  border-radius: 8px;
  padding: 8px 32px;
  font-family: $body-font;
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
  &:hover {
    background-color: #27843D;
    color: white;
;
  }
}

.btn-pay {
  background-color: $nm-black;
  padding: 6px 72px;
  color: white;
  margin-top: 8px;
  border-radius: 8px;

  &:hover {
    background-color: white;
    color: $nm-black;
    text-decoration: none;
  }
}

.btn-checkout {
  background-color: white;
  padding: 2px 32px;
  color: $nm-black;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid $nm-black;

  &:hover {
    background-color: $nm-black;
    color: white;
    text-decoration: none;
  }
}

.btn-view-orders {
  background-color: $nm-black;
  padding: 8px 72px;
  color: white;
  margin-top: 8px;
  border-radius: 8px;
  font-family: $body-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  width: 36%;

  &:hover {
    background-color: white;
    color: $nm-black;
    text-decoration: none;
  }
}

.btn-outline-order {
  padding: 8px 16px;
  color: $nm-black;
  margin-top: 8px;
  border: 1px solid $nm-black;
  font-size: 14px;
  font-family: $body-font;
  font-weight: 700;
  border-radius: 8px;

  &:hover {
    background-color: $nm-black;
    color: white;
    text-decoration: none;
  }
}
