.carbon-sum {
  background-color: $nm-bg-green;
  border-radius: 12px;
  border: 1px solid #57BD6F;
  height: 104px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  h4{
    font-weight: 500;
    margin-bottom: 0px;
  }
  a {
    font-size:12px;
  }
  h1 {
    color: $nm-d-green;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 0;
  }
  .left-panel {
    display: flex;
    align-items: center;
  }

  .text-highlight {
  color: $nm-d-green;
  font-weight: bold;
}

}

