.carbon-footprint {
  overflow: hidden;
  height: 120px;
  width:  440px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 24px auto;
  padding: 16px;

  p {
    margin: 0;
  }
}


.carbon-footprint img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  padding:  4px;
  margin-right: 16px;
}


.carbon-footprint h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.carbon-footprintp {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.carbon-footprint .carbon-footprint-infos {
  padding: 16px;
}
