.my-cart {
  padding-bottom: 8px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 16px;
}

.cart-item {
  // border-bottom: 1px solid rgba(0,0,0,0.12);
  // padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-img {
  width: 64px;
  height: 64px;
}

.item-price {
  width: 180px;
  margin-left: 12px;
  p {
    font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  width: 60%;
  }
  .cart-resto {
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
  }

}


.btn-checkout {
  display: flex;
  justify-content: space-between;
}

.btn-checkout p {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 12px;
}
