.card-frame1 {
  height: 160px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 24px;
  margin-right: 0;
}

.card-frame1 .head {
  font-family: $body-font;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.card-frame1 p {
  font-family: $body-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
