.card-d-green {
  width: 27%;
  border-radius: 16px;
  background-color: $nm-d-green;
  margin: 24px 12px 24px 0;
  padding: 16px;
}

.card-d-green h2 {
  font-family: $body-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 56px;
  color: white;
}

.card-d-green p {
  font-family: $body-font;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0;
  color: white;
}
