.dashboard {
  flex-direction: row;
  display: flex;
}

.dashboard-content-container {
  background-color: $nm-dashboard-purple;
  width: 100%;
  margin-left: 190px;
  padding: 0 0 0 24px;
}

.dashboard-topnav {
  overflow: hidden;
  background-color: $nm-dashboard-purple;
  position: fixed;
  top: 0;
  width: 85%;
  padding: 16px 24px 0 24px;
  z-index: 2;
  .top-nav {
    background-color: $nm-dashboard-bg;
    height: 72px;
    border-radius: 20px 20px 0 0;
    padding: 20px 28px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.08);
  }
}

.dashboard-content {
  width: 85%;
  padding: 0 24px 0 24px;
  background-color: $nm-dashboard-purple;
  position: absolute;
  top: 72px;
  .content-container {
    background-color: $nm-dashboard-bg;
    border-radius: 0 0 20px 20px;
    padding: 28px;
  }

}
img#nomo-d-logo {
  height: 16px;
}

// ------------------------------
// SIDENAV
// ------------------------------

.dashboard-sidenav {
  width: 224px;
  // background-color: $nm-dashboard-bg;
   background-color: $nm-dashboard-purple;
  height: 100%;
  flex-grow: 2;
  position:fixed;
  left: 0;
  top: 0;
  z-index: 4;
  overflow-x: hidden;
}

.sidebar-item {
  height: 40px;
  display: flex;
  align-items: center;
}

.sidenav-divider {
  border: 0.5px solid rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1800px) {
  .dashboard-content-container {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

}
