.footer {
  width: 100vw;
  padding: 16px 80px 28px 80px;
  background: $nm-d-green;
  color: white;
}

.footer-sitemap {
  display: flex;
  margin-bottom: 28px;
  .row {
    width: 25%;
    margin:0;
    margin-right: 16px;
    padding: 16px 0;
    ul{
      font-size: 14px;
      list-style-type: none;
      color: white;
      padding: 0;
      li {
        margin-bottom: 12px;
      }
    }
  }
}

.footer-credit {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 0 !important;
  font-size:14px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.4);
  padding-top: 16px;
}

.footer-column {
  ul {
  padding-bottom: 0 !important;
}

li {
  margin: 0 !important;
  padding-bottom: 8px !important;
}


}
