.input-group {
  height: 36px;
  width: 320px;
}

.form-control {
  background: #FFFFFF;
  border: 1px solid #EFF2F6;
  border-radius: 8px;
  color: rgba($color: $nm-black, $alpha: 0.6)
  // opacity: 0.6;
}

.input-group-text {
  background-color: white;
  border-radius: 8px 0 0 8px ;
  color: rgba($color: $nm-black, $alpha: 0.6);
  border: 1px solid #EFF2F6;

}


