.navbar{
  height: 72px;
}
.navbar-lewagon {
  justify-content: space-between;
  background: $nm-pink;
  padding-left: 48px;
  padding-right: 48px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-actions {
  right: 0;
  display: flex;
  align-items: center;
}
// .navbar-lewagon .navbar-brand img {
//   // width: 40px;
// }

// Additional style
.nav-item {
  margin-right: 16px;
}

// .navbar {
//   position: fixed; /* Set the navbar to fixed position */
//   top: 0;
// }
.dropdown-menu {
  border-radius: 12px;
}

.user-name {
  // padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);

  .username {
    font-family: $body-font;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-left: 16px;
    padding-right: 8px;
  }
  .email {
    font-family: $body-font;
    font-weight: 400;
    font-size: 12px;
    color: $nm-grey;
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 8px;
  }
}

.dropdown-item.icon {
  padding-left: 12px;
}

.dropdown-item.icon img {
  margin-right: 12px;
}

// .navbar-actions .form-control {

// }
