.rank-large {
  width: 64px;
  height: 64px;
  background-color: $nm-green;
  padding: auto;
  color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
  }
}
