.rank-large {
  background-color: $nm-green;
  // padding: auto;
  width: 64px;
  height: 64px;
  margin-right: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  h4 {
  color: white;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  }

}


.rank-rectangle {
  background-color: $nm-d-green;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 72px;
  h3 {
    font-weight: 600;
    font-size: 20px;
    font-family: Manrope;
    margin:0;
  }
}


.suggest-action-container {
  background-color: white;
  width: 60%;
  margin-right: 20px;
  border-radius: 12px;
  padding: 24px;
  h4 {
    font-weight: 700;
  }


}

.nearby-score-container {
  background-color: white;
  width: 40%;
  border-radius: 12px;
  padding: 24px;
}

.green-action {
  width: 48%;
}
