.nav-pills {
  // height: 34px;
  margin: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);

  li {
    margin-right: 20px;
    margin: 12px 24px 12px 0;
    padding: 0;
    a {
      color: #9e9e9e;
      &:hover {
        color: #848484;
      }
    }
  }

  li.active {
    a {
     color: $nm-d-green;
     font-weight: 700;
    }
    border-bottom: 2px solid $nm-d-green;

  }

}

.tab-content {
  margin-top: 24px;
}

