@import "show";
@import "new";

.categories {
  display: flex;
  padding: 88px 80px 24px 80px;
  justify-content: space-between;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.category {
  width: 15%;
  height: 48px;
  padding-top: 14px;
  border-radius: 8px;
  margin-right: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.monthly-deals {
  padding: 48px 80px 48px 80px;
  background-color: #F5F7FA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monthly-deals-layout {
  display: flex;
}

.monthly-deals h2 {
  font-family: Manrope;
  font-size: 32px;
  margin-bottom: 16px;
}

.monthly-deals p {
  font-family: $body-font;
  font-size: 14px;
}

.month {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 88px;
}

.filter-col {
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-left: 80px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 32px;
  width: 48%;
}

.filters {
  h2 {
  font-family: Manrope;
  font-size: 28px;
  font-weight: 400px;
  padding-top: 24px;
  padding-bottom: 32px;
  }
}
.ig-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ingredients {
  padding: 56px 80px 32px 36px;

  .ig-header {
    margin-left: 12px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 28px;
  }

  .card-row {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    // padding-left: 32px;
    // padding-right: 76px;
    // margin-bottom: 16px;
    font-family: Manrope;
  }

  .section-ig-one {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .section-ig-two {
    padding: 36px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);


  }

  .section-ig-three {
     padding: 36px 0;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .section-ig-four{
    padding-top: 32px;
    text-align: center;
  }

  .card-row {
    display: flex;
  }
}

.ingredients h1 {
  font-size: 32px;
  font-family: $headers-font;
  font-weight: 400;
}

.promotion-item {
  font-family: $body-font;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
}

.form-check {
  padding-left: 0 !important;
}

.sort p {
  margin-bottom: 8px;
  font-family: $body-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.expiry-date p {
  margin-bottom: 8px;
  font-family: $body-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.promotion p {
  margin-bottom: 8px;
  font-family: $body-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.radio-buttons {
  margin-bottom: 24px;
}

.nm-green {
  background-color: $nm-green;
  color: white;
}

.nm-l-green {
  background-color: $nm-l-green;
}
.nm-d-green {
  background-color: $nm-d-green;
  color: white;
}

.nm-pink {
  background-color: $nm-pink;
}

.nm-l-orange {
  background-color: $nm-l-orange;

}

.nm-orange {
  background-color: $nm-orange;
  color: white;
}

.nm-yellow {
  background-color: $nm-yellow;
}

.nm-brown{
  background-color:$nm-l-brown;
}

.deal {
  padding: 20px;
}

.tag {
  padding:4px 12px;
  border: 1px solid $nm-black;
  border-radius: 20px;
  margin-right: 12px;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
