@import "show";
@import "new";

.categories {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 88px;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.category {
  width: 15%;
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.monthly-deals {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.monthly-deals h2 {
  font-family: $headers-font;
  font-size: 32px;
  margin-bottom: 16px;
}

.monthly-deals p {
  font-family: $body-font;
  font-size: 14px;
}

.month {
  padding-left: 16px;
  padding-right: 16px;
}

.filter-col {
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-left: 116px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.filters {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.filters h2 {
  font-family: $headers-font;
  font-size: 24px;
  font-weight: 400px;
  padding-top: 24px;
  padding-bottom: 32px;
}

.ig-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ingredients {
  padding-top: 32px;
  padding-bottom: 32px;
  // padding-left: 16px;
  // padding-right: 16px;

  .ig-header {
    padding-left: 48px;
  }

  .card-row {
    padding-left: 32px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding-right: 88px;
    margin-bottom: 24px;
  }

  .section-ig-one {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-right: 32px;
    margin-left: 16px;
  }

  .section-ig-two {
    padding-top: 32px;
    padding-bottom: 16px;
    padding-left: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-right: 32px;
    margin-left: 16px;
  }

  .section-ig-three {
    padding-top: 32px;
    padding-bottom: 16px;
    margin-right: 32px;
    margin-left: 16px;
  }

  .section-ig-four{
    padding-top: 32px;
    padding-bottom: 64px;
    text-align: center;
  }

  .card-row {
    display: flex;
  }
}

.ingredients h1 {
  font-size: 32px;
  font-family: $headers-font;
  font-weight: 400;
}

.promotion-item {
  font-family: $body-font;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
}

.form-check {
  padding-left: 0 !important;
}

.sort p {
  margin-bottom: 8px;
  font-family: $body-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.expiry-date p {
  margin-bottom: 8px;
  font-family: $body-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.promotion p {
  margin-bottom: 8px;
  font-family: $body-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.radio-buttons {
  margin-bottom: 24px;
}

.nm-green {
  background-color: $nm-green;
}

.nm-l-green {
  background-color: $nm-l-green;
}

.nm-pink {
  background-color: $nm-pink;
}

.nm-l-orange {
  background-color: $nm-l-orange;
}

.nm-orange {
  background-color: $nm-orange;
}

.nm-blue {
  background-color: $nm-blue;
}
