.ingredient-fix {
  position: relative;
  padding: 0;
  top: 64px;
  height: 100wh;
}

.left-pane {
    position: fixed;
    width: 43.8%;
    height: 100%;
}

.nm-black {
  background-color: $nm-black;
}

#map {
  border-radius: 12px;
  margin: 24px 0;
}

.margin-0 {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.ingredient-image {
  width: 100% !important;
  height: 83%;
}

.ingredient-header {
    font-size: 32px;
  }

.qty-order {
  display: flex;
  align-item: top;
  margin-top: 0;
}

.quantity {
  display: flex;
  justify-content: space-around;
  background-color: $nm-l-orange;
  vertical-align: baseline;
  padding-top: 20px;
}

.quantity p {
  font-weight: 700 !important;
  font-size: 16px;
}

.order {
  display: flex;
  justify-content: space-around;
  background-color: $nm-black;
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid $nm-black;
  text-align: center;
}

.form-group-valid {
  margin-bottom: 0px;
}

.section-one {
  padding-top: 64px;
  padding-left: 48px;
  padding-right: 48px;
  margin: 0;

  .resto-name {
    padding-top: 24px;
    font-size: 14px;
  }

  .ingredients-badges {
    padding-bottom: 32px;
  }

  .ingredient-description {
    margin-bottom: 8px;
  }

  .promo-cards {
    display: flex;
  }

  .ingredient-info {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .pickup-detail {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .detail-item {
    font-size: 14px;
  }
}

.section-two {
  background-color: $nm-purple;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  margin: 0;
}

.section-three {
  background-color: $nm-l-orange;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  margin: 0;
}

.section-four {
  background-color: $nm-yellow;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  margin: 0;
}

.cards-flex {
  display: flex;
  justify-content: space-around;
}

.padding-8 {
  padding-right: 8px;
}
