.ingredient-fix {
  position: relative;
  padding: 0;
  top: 64px;
  height: 100wh;
}

.left-pane {
    position: fixed;
    width: 46%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
}

.right-pane {
  position: absolute;
  right: 0;
  width: 54%;
  padding: 48px;

}

.nm-black {
  background-color: $nm-black;
}

#map {
  border-radius: 12px;
  margin: 24px 0;
}

.margin-0 {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}


.ingredient-header {
    font-size: 32px;
     font-family: Manrope;
     font-weight: 700;
  }

.qty-order {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 60px;
  background-color: white;
  width: 100%;
  z-index: 2;
}

.quantity {
  display: flex;
  justify-content: space-between;
  background-color: $nm-l-orange;
  vertical-align: baseline;
  padding: 20px;
  z-index: 10;
}

.quantity p {
  font-weight: 700 !important;
  font-size: 18px;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $nm-black;
  color: white;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  width: 100%;
  padding: 20px;
  .order-btn {
    color: white;
    background-color: transparent;
    font-weight: 700;
    padding: 0;
    border: none;

  }
}

.form-group-valid {
  margin-bottom: 0px;
}

.section-one {
  padding-top: 42px;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .resto-name {
    padding-top: 24px;
    font-size: 14px;
  }

  .ingredients-badges {
    padding-bottom: 32px;
  }

  .ingredient-description {
    margin-bottom: 8px;
  }

  .promo-cards {
    display: flex;
  }

  // .ingredient-info {
  //   padding-bottom: 16px;
  //   border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  // }
  .detail-item {
    font-size: 14px;
  }
}

.section-two {
  background-color: $nm-purple;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  margin: 0;
}

.section-three {
  background-color: $nm-l-orange;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  margin: 0;
}

.section-four {
  background-color: $nm-yellow;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  margin: 0;
}

.cards-flex {
  display: flex;
  justify-content: space-around;
}

.padding-8 {
  padding-right: 8px;
}


.pickup-detail {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 32px;
  }

